@import "/src/global.scss";



header{
    position: fixed;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-orange;

    font-family: 'Teko', sans-serif;

    h1{
        font-weight: 700;
        cursor: pointer;
    }
    h1:hover{
        opacity: 0.6;
    }
}


@media only screen and (min-width: 768px) {

    header{
        height: 56px;
    }

}

