@import "/src/global.scss";



header{
    position: fixed;
    width: 100%;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $color-orange;

    font-family: 'Teko', sans-serif;

    h1{
        position: relative;
        font-weight: 700;
        cursor: pointer;
    }
    h1:hover{
        opacity: 0.6;
    }

    .lang-list{
        display: flex;
        position: absolute;
        right: 30px;

        .lang{
            cursor: pointer;
            margin-right: 10px;
            padding: 0px 10px;
            display: flex;
            justify-self: center;
            align-items: center;
        }

        .lang:hover{
            border-bottom: 1px solid black;
            opacity: 0.7;
        }

    }
}


@media only screen and (min-width: 768px) and (min-height: 768px) {

    header{
        height: 56px;
    }

}

@media only screen and (max-width: 550px){
    header{
        display: flex;
        justify-content: start;
        padding: 0px 10px;

        h1{
            font-size: 25px;
        }

        .lang-list{
            .lang{
                margin-right: 5px;
                padding: 0 5px;
            }
        }
    }
}

