
<div class="container">

    

    <div class="weather-info ">
        

        <div class="search-container">
            <input type="text" [(ngModel)]="city" placeholder="Enter a city">
            <button class="search-weather" (click)="searchWeather()">Search</button>
            <button class="refresh" (click)="searchWeather_refresh()" > <i class="fa-solid fa-arrows-rotate"></i></button>
          </div>
          
          <div *ngIf="isLoading">Loading...</div>
          <div *ngIf="!isLoading" class="info-container" id="info-container" [ngClass] = "{'hidden': !showWeather}">

            <div class="info-header">
                <h3> {{weatherData.name}}  </h3>
                <p>Pridobljeno {{weatherData.retrievalTime}}</p>
            </div>

            <div class="main-info" id="main-info" >
                <div class="left">
                    <p> {{ weatherData.main.temp }}°C</p>
                    <p>{{ weatherData.weather[0].description }}</p>

                    <p>max: {{weatherData.main.temp_max}} °C</p>
                    <p>min: {{weatherData.main.temp_min}} °C</p>

                </div>

                <div class="right">
                    <h3>5 day forecast</h3>
                    <p>not available</p>
                </div>
            </div>


          </div>

    </div>
 

</div>